<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block titre %}ISL Blog{% endblock %}</title>
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
        {%endblock %}
    </head>
    <body>
        <div class="container">
            {% block header %}
            <header class="page-header">
                <h1>Le blog de l'ISL</h1>
            </header>
            {% endblock %}
            {% block contenu %}
                contenu par défaut
            {% endblock %}
            {% block footer %}
                <footer>footer</footer>
            {% endblock %}
        </div>
    </body>
</html>
