{% extends 'ISLBlogBundle::layout.html.twig' %}

{% block titre %}
    Ajouter un article
{% endblock %} 

{% block contenu %}
    <h1>Ajouter un article</h1>
    <form method="post">
        {{ form_widget(form) }}
        <input type="submit" />
        
    </form>
    
{% endblock %}
