{% extends 'ISLBlogBundle::layout.html.twig' %}

{% block titre %}
    Modifier un article
{% endblock %} 

{% block contenu %}
    <h1>Modifier un article</h1>
    {% include 'ISLBlogBundle:_partials:formulaire.html.twig' %}
{% endblock %}
