{# empty Twig template #}
<!doctype html>
<html>
<head>
    <title>Test complexe</title>
</head>
<body>
    <h1>Articles de {{ mois }} / {{ annee }}</h1>
    <p>
        Contenu de la catégorie <b>{{ categorie }}</b>
        Au format {{ _format }}
    </p>
</body>
</html>